%section.section1
  .section1-left.col-sm-offset-1.margin-top-45
    .section-heading.left-aligned{ id: "b" }
      = fa_icon "magic", text: "DopeMagic!"
    .home-description.text-left.margin-top-22
      Market your business/brand with social media automation.
      %br
      Produce awesome content.
      %br
      Create attractive, colorful and successful landing pages.
      %br
      Produce great marketing strategies.
      %br
      Control the web from the cloud.
  .section1-right.wizard-bg.float-left.bounce
.clouds-bg.row-f
%section.section2.row-f{ id: "section2" }
  %h2
    What can
    = fa_icon "magic", text: "DopeMagic "
    do for you?
  .row-f
    .col-xs-12.col-md-offset-3.col-md-6.form-container
      = form_tag "/send_email", { method: :post, remote: true } do
        .flash-messages-email
        .row
          .col-xs-3
            = label_tag "Name: "
          .col-xs-9
            = text_field_tag :name, "", { class: "form-control" }
        .row
          .col-xs-3
            = label_tag "Your Email: "
          .col-xs-9
            = text_field_tag :email, "", { class: "form-control" }
        .row
          .col-xs-3
            = label_tag "Message: "
          .col-xs-9
            = text_area_tag :body, "", { class: "form-control" }
        .full-width.margin-top-22
          = submit_tag "Send", { class: "btn btn-submit full-width"}

:javascript
  $(document).ready( function () {
    bounce();
    set_bounce();
    createTransition("b", "font");
  });