%section.section1
  .section1-left.col-sm-offset-1.margin-top-90
    .section-heading.text-center{ id: "b" }
      = fa_icon "magic", text: "DopeMagic!"
    .home-description.text-left.margin-top-22.medium-font.text-center
      Market your business like a wizard.
      %br
      Produce awesome content.
      %br
      Control the web.
      %br
      %a{ href: "http://twitter.com/timbooki", class: "social-link" }
        = fa_icon "twitter-square"
      %a{ href: "http://facebook.com/teezyheezy", class: "social-link" }
        = fa_icon "facebook-square"
  .section1-right.wizard-bg.float-left.bounce
%section.section2.row-f{ id: "section2" }
  .clouds-bg.row-f
  .col-xs-12.col-md-6.col-md-offset-3.form-container
    %h2
      What can DopeMagic do for you?
  .row
    .col-xs-12.col-md-12
      = form_tag "/send_email", { method: :post, remote: true } do
        .flash-messages-email
        .row
          .col-sm-8.col-sm-offset-2
            = text_field_tag :name, "", { placeholder: "Name", class: "form-control" }
            %br
            = text_field_tag :email, "", { placeholder: "Email", class: "form-control" }
            %br
            = text_area_tag :body, "", { placeholder: "Email body", class: "form-control" }
            %br
            = submit_tag "Send", { class: "btn btn-submit full-width form-control"}
:javascript
  $(document).ready( function () {
    bounce();
    set_bounce();
    createTransition("b", "font");
  });