<%= nested_form_for @scrape, { remote: true } do |f| %>
  <div class="scrapeape_container">
    <div class="row">
      <h1><%= fa_icon "terminal", text: "ScrapeApe" %></h1>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <b>Root URL</b>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class='col-xs-2'>
            <%= f.label "URL *" %>
          </div>
          <div class="col-xs-9">
            <%= f.text_field "URL", required: true %>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-2'>
            <%= f.label "Use proxies" %>
          </div>
          <div class="col-xs-9">
            <%= f.select :use_proxies, "<option value='true'>Yes</option><option value='false'>No</option>".html_safe %>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-2'>
            <%= f.label "Paginator selector" %>
          </div>
          <div class="col-xs-9">
            <%= f.text_field "next_selector" %>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-2'>
            <%= f.label "Name " %>
          </div>
          <div class="col-xs-9">
            <%= f.text_field "filename", required: true %>
          </div>
        </div>
        <div class="row" style="margin: 2em 0;">
          <div class="col-xs-8 col-xs-offset-2">
            Add a <b>data set</b> and indicate a <b> link selector</b> for ScrapeApe to click to crawl a page, or leave <b>link selector</b> to crawl the page of the <b> root url</b>.
          </div>
        </div>
        <%= f.fields_for :data_sets do |dsf| %>
          <div class="row">
            <div class='col-xs-2'>
              <%= dsf.label "Link selector" %>
            </div>
            <div class="col-xs-9">
              <%= dsf.text_field :link_selector %>
            </div>
            <div class="col-xs-1">
              <%= dsf.link_to_remove "X" %>
            </div>
          </div>
          <%= dsf.fields_for :parameters do |pf|%>
            <div class="row">
              <div class="col-xs-2 col-xs-offset-1">
                <%= pf.label "Data name: " %>
              </div>
              <div class="col-xs-8">
                <%= pf.text_field :name %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-xs-offset-1">
                <%= pf.label "Parameter selector *: " %>
              </div>
              <div class="col-xs-8">
                <%= pf.text_field :selector, required: true %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-xs-offset-1">
                <%= pf.label "Text to remove from parameter: " %>
              </div>
              <div class="col-xs-8">
                <%= pf.text_field :text_to_remove %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-xs-offset-1">
                <%= pf.label "Include whitespace data?: " %>
              </div>
              <div class="col-xs-8">
                <%= pf.check_box :include_whitespace %>
              </div>
              <div class="col-xs-1">
                <%= pf.link_to_remove "X" %>
              </div>
            </div>
          <% end %>
          <div class="row">
            <%= dsf.link_to_add "Add a parameter for data set", :parameters, class: 'btn btn-default' %>
          </div>
          <hr />
        <% end %>
        <div class="row">
          <div class="col-xs-12">
            <%= f.link_to_add "Add a data set", :data_sets, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12">
        <%= f.button "Scrape!", { class: "btn btn-default scrape_btn" } %>
      </div>
    </div>
  </div>
<% end %>

<div class="container recent-scrapes-container">
  <div class="row">
    <h1> Recent Scrapes </h1>
  </div>
  <div class="row">
    <table id="recent-scrapes-table">
      <thead>
        <th>Created at</th>
        <th>File name</tH>
        <th>Records collected</th>
        <th>Status</th>
        <th>Run</th>
        <th>Restart</th>        
        <th>Download CSV</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <% @scrapes.each do |scrape| %>
          <tr>
            <td><%= scrape.created_at %></td>
            <td><%= scrape.filename %></td>
            <td><%= scrape.records.count %></td>
            <td><%= scrape.status %></td>
            <td>
              <%= link_to fa_icon("play"), "/scrape/" + scrape.id.to_s + "/run", { method: :put, data: { remote: true }, alt: "run" } %>
            </td>
            <td>
              <%= link_to fa_icon("refresh"), "/scrape/" + scrape.id.to_s + "/restart", method: :put, data: { confirm: "Are you sure you want to reset this? All your current data scraped will be deleted.", remote: true } %>
            </td>
            <td>
              <%= link_to fa_icon("download"), scrape_path(id: scrape.id, format: :csv) %>
            </td>
            <td>
              <%= link_to fa_icon("trash-o"), scrape, method: :delete, data: { confirm: "Are you sure you want to end this?" } %>
            </td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#recent-scrapes-table').DataTable({
      sPaginationType: "full",
      bJQueryUI: true,
      responsive: true,
      "order": [[ 0, "desc" ]]
    });
    $('.new_scrape').submit( function (event) {
      var loading_gif = $('<img />').attr('src','<%= image_url "ajax-loader.gif" %>');
      $('.scrape_btn').html(loading_gif);
    }).on('ajax:complete', function () {
      $('.scrape_btn').html('Scrape!');
    });
  });
</script>