.twitter_blaster_container
	%h1 
		= fa_icon "twitter",  text: "Twitter Blaster"
	.row.description
		Use a list of twitter handles separated by commas with a message for the users, or provide a user handle and a message to send to that user's followers.
	- if current_user.nil?
		%div#user_nav
			= link_to "Sign in with Twitter", "/auth/twitter", { class: "btn btn-default" }
	- else
		.twitter-blast-get-followers-form.twitter-blast-form
			= nested_form_for @twitter_blast, { remote: true } do |f|
				.row
					.col-xs-12
						.col-xs-3
							= f.label "Name?"
						.col-xs-9
							= f.text_field :name
				.row
					.col-xs-12
						.col-xs-3
							= f.label "Type:"
						.col-xs-9
							= f.select :blast_type, options_for_select([["Follow followers of handle(s)", "follow_followers"], ["Get Followers of handle(s)", "get_followers"], ["Tweet To handle(s)", "handles"], ["Tweet To followers of handle(s)", "followers"]])
				.row
					.col-xs-12
						.col-xs-3
							%label Twitter handles (separated by commas)
						.col-xs-9
							= f.text_area :twitter_handles
				.row
					.col-xs-12
						.col-xs-3
							%label Message
						.col-xs-9
							= f.text_area :message
				.row
					.col-xs-12
						.col-xs-3
							%label Message to list
						.col-xs-9
							= f.select :handle_list, options_from_collection_for_select(@handle_lists, "id", "name")
				.row
					%br
					= f.button "Get'em!", { type: "submit", class: "btn btn-default blast-btn" }
		.recent-blasts-update
			= render :partial => "twitter_blasts/recent_blasts_table"
:javascript
	$(document).ready( function () {
		var curr_val, blast_btn;

		setInterval(function () {
			$.ajax({
				url: '/twitter_blast/get_blasts',
				type: "GET",
				dataType: "html",
				success: function (xhr) {
					$('.recent-blasts-update').html(xhr);
				}
			});
		}, 5000);

		$('.new_twitter_blast').submit( function (event) {
			var loading_gif = $('<img />').attr('src','#{ image_url "ajax-loader.gif" }');
			blast_btn = $(this).find('.blast-btn');
			curr_val = blast_btn.html();
			blast_btn.html(loading_gif);
		}).on('ajax:complete', function () {
			blast_btn.html(curr_val);
		});

	});