.twitter_blaster_container
	%h1 
		= fa_icon "twitter",  text: "Twitter Blaster"
	.row.description
		Use a list of twitter handles separated by commas with a message for the users, or provide a user handle and a message to send to that user's followers.
	- if current_user.nil?
		%div#user_nav
			= link_to "Sign in with Twitter", "/auth/twitter", { class: "btn btn-default" }
	- else
		.row
			.col-xs-12
				%a.btn.btn-default.toggle-btn{ id: "handles", "data-toggle" => ".twitter-blast-form" }
					Use Handles
				%a.btn.btn-default.toggle-btn{ id: "followers", "data-toggle" => ".twitter-blast-form" }
					Use Followers			
		.twitter-blast-handles-form.twitter-blast-form.hide{ id: "handles" }
			= nested_form_for @twitter_blast, { remote: true } do |f|
				= f.hidden_field :blast_type, value: "handles"
				.row
					%h1 Tweet to handles
				.row
					.col-xs-12
						.col-xs-3
							%label Twitter handles (separated by comma or newline)
						.col-xs-9
							= f.text_area :twitter_handles
				.row
					.col-xs-12
						.col-xs-3
							%label Message
						.col-xs-9
							= f.text_area :message
				.row
					.col-xs-12
						= f.submit "Blast!", { class: "blast-btn btn btn-default" }
		.twitter-blast-followers-form.twitter-blast-form.hide{ id: "followers"}
			= nested_form_for @twitter_blast, { remote: true } do |f|
				= f.hidden_field :blast_type, value: "followers"
				.row
					%h1
						Tweet to followers
				.row
					.col-xs-12
						.col-xs-3
							%label Twitter Handle
						.col-xs-9
							= f.text_field :user_handle
				.row
					.col-xs-12
						.col-xs-3
							%label Message
						.col-xs-9
							= f.text_area :message
				.row
					.col-xs-12
						= f.submit "Blast!", { class: "blast-btn" }
		.recent-blasts-update
			= render :partial => "twitter_blasts/recent_blasts_table"
:javascript
	$(document).ready( function () {

		setInterval(function () {
			$.ajax({
				url: "twitter_blast/get_blasts",
				type: "GET",
				dataType: "html",
				success: function (xhr) {
					$('.recent-blasts-update').html(xhr);
				}
			});
		}, 5000);

		$('#recent-blasts-table').dataTable({
			sPaginationType: "full",
			bJQueryUI: true,
			responsive: true,
			"order": [[ 0, "desc" ]]
		});
		
		$('.new_twitter_blast').submit( function (event) {
			var loading_gif = $('<img />').attr('src','#{ image_url "ajax-loader.gif" }');
			$('.blast-btn').html(loading_gif);
		}).on('ajax:complete', function () {
			$('.blast-btn').html('Scrape!');
		});

	});