
<div class="container recent-scrapes-container">
  <div class="row">
    <h1> Recent Scrapes </h1>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= link_to "Stop all workers", "/scrape/stop_all", { remote: true, class: "btn btn-default" } %>
    </div>
  </div>
  <div class="row">
    <table id="recent-scrapes-table">
      <thead>
        <th>Created at</th>
        <th>File name</tH>
        <th>Records collected</th>
        <th>Status</th>
        <th>View</th>
        <th>Run</th>
        <th>Restart</th>        
        <th>Download CSV</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <% @scrapes.each do |scrape| %>
          <tr>
            <td><%= scrape.created_at %></td>
            <td><%= scrape.filename %></td>
            <td><%= scrape.records.count %></td>
            <td><%= scrape.status %></td>
            <td><%= link_to "View", scrape_path(scrape), { class: "view_link"} %></td>
            <td>
              <%= link_to fa_icon("play"), "/scrape/" + scrape.id.to_s + "/run", { method: :put, data: { remote: true }, alt: "run" } %>
            </td>
            <td>
              <%= link_to fa_icon("refresh"), "/scrape/" + scrape.id.to_s + "/restart", method: :put, data: { confirm: "Are you sure you want to reset this? All your current data scraped will be deleted.", remote: true } %>
            </td>
            <td>
              <%= link_to fa_icon("download"), scrape_path(id: scrape.id, format: :csv) %>
            </td>
            <td>
              <%= link_to fa_icon("trash-o"), scrape, method: :delete, data: { confirm: "Are you sure you want to end this?" } %>
            </td>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#recent-scrapes-table').DataTable({
      sPaginationType: "full",
      bJQueryUI: true,
      responsive: true,
      "order": [[ 0, "desc" ]]
    });
  });
</script>