- if @cram_job.errors.any?
	.alert.alert-danger
		@cram_job.errors.full_messages.join("\n")
.row
	Create some ads, ads will be posted daily.
= nested_form_for(@cram_job) do |f|
	.row.margin-top-45
		.col-xs-3
			= f.label :posting_type
		.col-xs-9
			= f.select :posting_type, options_for_select([['Gig Offered', 'go']]), required: true
	.row
		.col-xs-3
			= f.label :category
		.col-xs-9
			= f.select :category, options_for_select(['computer gigs', 'creative gigs', 'crew gigs', 'domestic gigs', 'event gigs', 'labor gigs', 'talent gigs', 'writing gigs']), required: true
	.row
		.col-xs-3
			= f.label :ad_contact_name
		.col-xs-9
			= f.text_field :ad_contact_name, class: "full-width"
	.row
		.col-xs-3
			= f.label :ad_title
		.col-xs-9
			= f.text_field :ad_title, class: "full-width"
	.row
		.col-xs-3
			= f.label :ad_phone_number
		.col-xs-9
			= f.text_field :ad_phone_number, class: "full-width"
	.row
		.col-xs-3
			= f.label :ad_postal_code
		.col-xs-9
			= f.text_field :ad_postal_code, class: "full-width"
	.row
		.col-xs-3
			= f.label :ad_street
		.col-xs-9
			= f.text_field :ad_street, class: "full-width"
	.row
		.col-xs-3
			= f.label :ad_city
		.col-xs-9
			= f.text_field :ad_city, class: "full-width"
	.row
		.col-xs-3
			= f.label "Cities/day"
		.col-xs-9
			= f.number_field :cities_a_day, class: "full-width"
	.row
		.col-xs-9.col-xs-offset-3
			%h3
				Emails *
			Add emails to post ads OR use Email database
	.row
		.col-xs-3
			= f.label "Email options"
		.col-xs-9
			.btn-default.btn.toggle-btn{ "data-toggle" => ".add-email-form", id: "db", class: ("active" if @cram_job.textarea_or_db == "db" ) }
				Use email database
			.btn-default.btn.toggle-btn{ "data-toggle" => ".add-email-form", id: "textarea", class: ("active" if @cram_job.textarea_or_db == "textarea" )}
				Add emails manually
	.add-email-form{id: "textarea", class: ("hide" if @cram_job.textarea_or_db == "db" ) }
		.row
			.col-xs-9.col-xs-offset-3
				%h3
					Add Emails
				= f.hidden_field :textarea_or_db, { class: "add-email-form" }
		.row
			.col-xs-3
				%b Format
			.col-xs-9
				%b
					email1@provider.com, password
					%br
					email2@provider.com, password2
		.row
			.col-xs-3
				= label_tag "Email"
			.col-xs-9
				= text_area_tag :emails, (@cram_job.emails.present? ? @cram_job.emails.map { |e| "#{ e.email }, #{ e.password }" }.join("\n") : ""), { class: "full-width" }
	.row
		.col-xs-9.col-xs-offset-3
			%h3
				Post Bodies *
			Add some text to cycle between cram jobs.
	= f.fields_for :messages do |mf|
		.row
			.col-xs-3
				= mf.label :title
			.col-xs-6
				= mf.text_field :title, class: "full-width"
			.col-xs-3
				= mf.link_to_remove "Delete", class: "btn btn-default"
		.row
			.col-xs-3
				= mf.label :text
			.col-xs-9
				= mf.text_area :text, class: "full-width"
	.row
		.col-xs-9.col-xs-offset-3
			= f.link_to_add "Add Listing body", :messages, class: "btn btn-default"
			.italic
				* Indicates a required field.

	.row
		= f.submit "Submit", class: "btn btn-default"
