- if @twitter_blast.errors.any?
	%div{id: "error_explanation" }
		%h2
			= pluralize(@twitter_blast.errors.count, "error")
			prohibited this from being saved:
		%ul
			- @twitter_blast.errors.full_message.each do |msg|
				%li 
					= msg.to_s
= form_for @twitter_blast do |f|
	.row
		.col-xs-4
			= f.label "Name:"
		.col-xs-8
			= f.text_field :name
	.row
		.col-xs-4
			= f.label "User handle (send to followers):"
		.col-xs-8
			= f.text_field :user_handle
	.row
		.col-xs-4
			= f.label "Status:"
		.col-xs-8
			= f.text_field :status
	.row
		.col-xs-4
			= f.label "Message:"
		.col-xs-8
			= f.text_field :message
	.row
		.col-xs-4
			= f.label "Twitter handles sending to:"
		.col-xs-8
			= f.text_field :message
	.row
		.col-xs-4
			= f.label "Blast type:"
		.col-xs-8
			= f.select :blast_type, "<option value='followers'>Followers</option><option value='handles'>Handles</option>".html_safe
	.row
		.col-xs-12
			= f.submit "Update", { class: "btn btn-default" }