.recent-blasts-container.bottom-table
	.row
		%h1 Recent Blasts
	%table{ id: "recent-blasts-table" }
		%thead
			%th
				Created at
			%th
				Name
			%th
				Type
			%th
				Follows
			%th
				Handles
			%th
				Tweets
			%th
				Status
			%th
				View
			%th
				Edit
			%th
				Run
			%th
				Delete
		%tbody
			- @twitter_blasts.each do |twitter_blast|
				%tr
					%td
						= twitter_blast.created_at
					%td
						= twitter_blast.name
					%td
						= twitter_blast.blast_type
					%td
						= twitter_blast.following.count
					%td
						= twitter_blast.handle_records_count
					%td
						= twitter_blast.messages_sent
					%td
						= twitter_blast.status
					%td
						= link_to "View", twitter_blast_path(twitter_blast)
					%td
						= link_to "Edit", edit_twitter_blast_path(twitter_blast)
					%td
						= link_to fa_icon("play"), '/twitter_blast/' + twitter_blast.id + '/run', data: { remote: true }
					%td
						= link_to fa_icon("trash-o"), twitter_blast_path(twitter_blast), method: :delete, data: { confirm: "Do you really wanna delete this? " }
:javascript
	$(document).ready( function () {

		$('#recent-blasts-table').dataTable({
			sPaginationType: "full",
			bJQueryUI: true,
			responsive: true,
			"order": [[ 0, "desc" ]]
		});
	});
