- content_for :js_block do
	= javascript_include_tag('twitter_blaster.js')
.twitter_blaster_container
	%h1 
		= fa_icon "twitter",  text: "Twitter Blaster"
	.row.description
		Get a user's followers, follow a list of handles with a 
		%b
			direct message
		when followed back, or
		%b
			mass tweet
		to a list of handles with an
		%b
			included message.
	- if current_user
		= render :partial => "twitter_blasts/form"
		.recent-blasts-update
			= render :partial => "twitter_blasts/recent_blasts_table"

	- else
		%div#user_nav
			= link_to "Sign in with Twitter", "/auth/twitter", { class: "btn btn-default" }
