- content_for :js_block do
	= javascript_include_tag('twitter_blaster.js')
.twitter_blaster_container
	%h1 
		= fa_icon "twitter",  text: "Twitter Blaster"
	.row.description
		Use a list of twitter handles separated by commas with a message for the users, or provide a user handle and a message to send to that user's followers.
	- if current_user.nil?
		%div#user_nav
			= link_to "Sign in with Twitter", "/auth/twitter", { class: "btn btn-default" }
	- else
		.twitter-blast-get-followers-form.twitter-blast-form
			= nested_form_for @twitter_blast, { remote: true } do |f|
				.row
					.col-xs-12
						.col-xs-3
							= f.label "Type:"
						.col-xs-9
							= f.select :blast_type, options_for_select([["Follow followers of handle(s)", "follow_followers"], ["Follow handle(s)", "follow_handles"], ["Get Followers of handle(s)", "get_followers"], ["Tweet To handle(s)", "tweet_to_handles"], ["Tweet To followers of handle(s)", "tweet_to_followers"]])
				.row
					.col-xs-12
						.col-xs-3
							= f.label "Name this action"
						.col-xs-9
							= f.text_field :name
				.row
					Enter twitter handles in textarea separated by commas, or choose a preexisting list of handles.
				.row
					= f.hidden_field :handles_type, { value: "textarea", class: "handles_type_input"}
					%a.btn.btn-default.twitter-handles-btn.active{ id: "textarea", "data-update" => ".handles_type_input", "data-target" => ".twitter-handles-text-container" } Twitter Handles (comma separated)
					%a.btn.btn-default.twitter-handles-btn{ id: "list", "data-update" => ".handles_type_input", "data-target" => ".twitter-handles-list-container"} Twitter Handles from saved list
				.row.option-group.twitter-handles-text-container
					.col-xs-12
						.col-xs-3
							%label Type Twitter handles (comma separated)
						.col-xs-9
							= f.text_area :twitter_handles
				.option-group.twitter-handles-list-container{style: "display: none; "}
					.row
						.col-xs-12
							.col-xs-3
								%label Choose a handle list
							.col-xs-9
								= f.select :handle_list_id, options_from_collection_for_select(@handle_lists, "id", "name")
					.row.word-wrap.handle-list-handles
				.row.message-row
					.col-xs-12
						.col-xs-3
							%label Message to tweet
						.col-xs-9
							= f.text_area :message	
				.row
					%br
					= f.button "Get'em!", { type: "submit", class: "btn btn-default blast-btn" }
		.recent-blasts-update
			= render :partial => "twitter_blasts/recent_blasts_table"