- content_for :js_block do
	= javascript_include_tag('twitter_blaster.js')
.twitter_blaster_container
	%h1 
		= fa_icon "twitter",  text: "Twitter Blaster"
	.row.description
		Use a list of twitter handles separated by commas with a message for the users, or provide a user handle and a message to send to that user's followers.
	- if current_user.nil?
		%div#user_nav
			= link_to "Sign in with Twitter", "/auth/twitter", { class: "btn btn-default" }
	- else
		= render :partial => "twitter_blasts/form"
		.recent-blasts-update
			= render :partial => "twitter_blasts/recent_blasts_table"