<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "DopeMagic!" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
    <%= yield :js_block %>
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand" href="/">
          <%= fa_icon "magic", text: "DopeMagic!" %> </a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <% if current_user %>
              <li><a href="/scrape_ape">Scrape Ape</a></li>
              <li><a href="/craig_crammer">Craig Crammer</a></li>
              <% if current_user.twitter_user? %>
                <li><a href="/twitter_blaster">Twitter Blaster</a></li>
                <li><a href="/rss_retweeter">RSS Tweeter</a></li>
              <% end %>
              <li><a href="/sms_blaster">SMS Blaster</a></li>
              <% if current_user.facebook_user? %>
                <li><a href="/tinder_bot">Tinder bot</a></li>
              <% end %>
              <li>
               <%= link_to "Logout", "/signout" %>
             </li>
            <% else %>
              <li>
                <%= link_to "Login to twitter", "/auth/twitter" %>
              </li>
              <li>
                <%= link_to "Login to Facebook", "/auth/facebook", id: "sign_in" %>

              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="layout-container">
      <div>
        <div class="col-lg-10 col-lg-offset-1" style="text-align: center;">
          <%= bootstrap_flash %>
          <div class="flash-messages"></div>
          <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->
    <footer>
      <p>&copy; DopeMagic! 2014 Courtesy of <a href="http://www.timboh.menocu.com"> Tim</a></p>
    </footer>
  </body>
</html>
